<section>
  <h2>Active Events</h2>
  <% grouped.active.forEach(event => { %>
    <div id="event-<%= event.id %>" hx-target="this" hx-swap="outerHTML">
      <%- include("./_event-row", { event, session }) %>
    </div>
  <% }) %>
</section>

<section>
  <h2>Cancelled Events</h2>
  <% grouped.cancelled.forEach(event => { %>
    <div id="event-<%= event.id %>" hx-target="this" hx-swap="outerHTML">
      <%- include("./_event-row", { event, session }) %>
    </div>
  <% }) %>
</section>

<section>
  <h2>Past Events</h2>
  <% grouped.past.forEach(event => { %>
    <div id="event-<%= event.id %>" hx-target="this" hx-swap="outerHTML">
      <%- include("./_event-row", { event, session }) %>
    </div>
  <% }) %>
</section>
